@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
:root {
        
        --Red : hsl(1, 90%, 64%);
        --Blue: hsl(219, 85%, 26);
        --White: hsl(0, 0%, 100%);
        --Very-light-grayish-black: hsl(210, 60%, 98%);
        --Light-grayish-black-1: hsl(211, 68%, 94%);
        --Light-grayish-black-2: hsl(205, 33%, 90%);
        --Grayish-black: hsl(219, 14%, 63%);
        --Dark-grayish-black: hsl(219, 12%, 42%);
        --Very-dark-black: hsl(224, 21%, 14%);
      }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--Very-light-grayish-black);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Plus Jakarta Sans', sans-serif;

}
html{
    font-size: 10px;
}
.main-container{
  background-color: var(--White);
  border-radius: 15px;
  padding: 1rem 1.6rem;
  width: 50%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 0;
}
.notification-count{
    background-color:#192a56;
    color: var(--White);
    padding: 0 0.5rem;
    border-radius: 5px;

}
.notification{
    display: flex;
    background-color: var(--Light-grayish-black-1);
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem;
  
}
img{
    margin-right: 1rem;
    width: 8%;
}
a{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--black);
    font-weight: 800;
    text-decoration: none;
}
p{
    font-weight: 500;
}
.red{
    display: inline-block;
  
    background-color: var(--Red);
    border-radius: 50%;
    margin-left: 0.5rem;
    height: 6px;
    width: 6px;
    align-self: center;
}

.notificationnon{
    display: flex;
    margin: 1rem 0;
    padding: 1rem;
  
}
.active{
    /* display: none; */
    padding: 1rem;
    border: 1px solid black;
    margin-left: 6rem;
    margin-right: 2rem;
}
.notification-textwithimg{
    display: flex;
    justify-content: space-between;
}
@media (max-width:450px) {
    .main-container{
        width: 90%;
    }
    
}